baseURL = "https://schriftmuster.projektemacher.org/"
languageCode = "de"
title = "Schriftmuster"
publishDir = "docs"
canonifyurls = true
DefaultContentLanguage = "de"
theme = ["projektemacher-base"]
copyright = false

[params]
    author = "Christian Mahnke"
    keywords = "Schriftmuster, Schriften, Papier, Bücher, fonts, paper, books"
    description = ""
    copyrightYears = "MMXXI"
    stylesheets = []
    cc = true
#    productionIIIFURLPrefix="https://static.projektemacher.org/vorsatzpapier/"

[languages]
    [languages.de]
        languagename = "Deutsch"

        [languages.de.params]

        [languages.de.menu]

            [[languages.de.menu.main]]
                name = "Start"
                weight = 1
                url = "/"

            [[languages.de.menu.main]]
                name = "Weiterverwendung"
                weight = 2
                url = "reuse/"

            [[languages.de.menu.main]]
                name = "Links"
                weight = 3
                url = "links/"

            [[languages.de.menu.main]]
                name = "Sammlungen"
                weight = 4
                url = "collections/"

            [[languages.de.menu.main]]
                name = "Über"
                weight = 5
                url = "about/"

    [languages.en]
        languagename = "English"

        [languages.en.params]


        [languages.en.menu]

            [[languages.en.menu.main]]
                name = "Start"
                weight = 1
                url = "/"

            [[languages.en.menu.main]]
                name = "Reuse"
                weight = 2
                url = "reuse/"

            [[languages.en.menu.main]]
                name = "Links"
                weight = 3
                url = "links/"

            [[languages.en.menu.main]]
                name = "Collections"
                weight = 4
                url = "collections/"

            [[languages.en.menu.main]]
                name = "About"
                weight = 5
                url = "about/"


[module]
    [[module.mounts]]
        source = "assets/scss"
        target = "assets/scss"

    [[module.mounts]]
        source = "static"
        target = "static"

    [[module.mounts]]
        source = "assets/js"
        target = "assets/js"

[imaging]
    quality = 95

#[outputs]
#    page = ["HTML", "JSON"]

[mediaTypes]
  [mediaTypes."application/ld+json"]
    suffixes = ["json"]

  [outputFormats.iiif]
    mediaType = "application/ld+json"
    isPlainText = true
    isHTML = false
    baseName = "manifest"
    notAlternative = true

[markup]
    [markup.goldmark]
        [markup.goldmark.renderer]
            unsafe= true
