$font-body-font: 'Inconsolata' !default;

/*
$body-color: #4d4d4d !default;
$body-background: #38312f !default;
*/
$color-body-text: #333333 !default;
$color-link-text: #333333 !default;
$color-link-hover: #333333 !default;
$color-link-active: #333333 !default;
$color-header-text: #333333 !default;


@import "icons";
@import "ol-iiif";


body {
    font-family: $font-body-font, monospace;
    color: $color-body-text;
}

main {
    margin:auto;
    width: 65%;
}

nav {
        width: 100%;
        padding: .4em;
}

.list {
    .list-entry {
        margin: 2em 0 ;
        border: solid 1px #aaa6ab;
        padding: 2em;

        .post-header {
            .post-title {
                text-align: center;
                font-size: xx-large;
            }
        }
        .preview img {

        }

        .post-summary {
            padding: 2em auto;
            display: inline-block;
            .more {
                border-top: solid 1px darken(#aaa6ab, 40%);
                padding-top: 2em;
                text-align: center;
            }

        }
    }
    .pagination {
        text-align: center;
        margin: auto;
        padding-bottom: 1em;
        back-next {
            padding: 0 .3em;
        }
    }
}

.footer {
    width: 100%;
    border-top: solid 1px #aaa6ab;
    margin: 1em auto 0;
    background-color: #fafafa;

    .menu {
        list-style-type: none;
        text-align: center;

        .menu-item {
            display: inline;
        }
    }

    .credit {

        text-align: center;
        margin-top: .8em;
        font-size: x-small;

        p {
            margin: auto;
            &.projektemacher {
                margin: .6em 0;
            }

            &.cc {
                color: #aaa6ab;
            }
        }
    }

}

a {
    text-decoration: none;
    color: $color-body-text;
}

/*
.fa-plus:before {
    display: inline-block;
    width: 1em;
    content: url($plus-light);
}

#menu-secondary {
    margin-top: .5em;
}

@media (min-width: 37.5em) {
    .menu-secondary-items:before {
            content: '';
    }

}

@media (max-width: 37.5em) {
    .featured-image.lazy {
        display: none;
    }

.post.excerpt {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    .excerpt-container {
        box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, .6);
        border-radius: 4px;
        padding: unset;
        margin: 3.5% 3.5%;
        background-color: rgba(255, 255, 255, .6);
    }
}

}

@media (min-width: 50em) {
    .menu-unset>ul>li:after, .menu-primary-items>li:after {
        content: '|';
    }
}

@media (min-width: 56.25em) {

    .excerpt.odd .featured-image {
        width: 30%;
        right: -1px;
        left: unset;
    }

    .excerpt.even .featured-image {
        width: 30%;
        right: unset;
        left: -1px;
    }

    .excerpt.preview .excerpt-container {
        width: 70% !important;
    }
}


.site-footer {
    margin-top: unset;

    .design-credit {
        margin-top: unset;
    }
}

.more-link-wrapper {
    padding-top: .4em;
}

.excerpt-content {
    margin-top: .6em;
}

.entry-container {
    padding-right: 0;

    .iiif {
        display: flex;

        .viewer {
            width: 100%;
            height: 65vh;
            order: 3;
            display: block;

        }

        .iiif-image {
            width: 100%;
        }

        .iiif-image .front {
            width: 49%;

            order: 1;
            display: inline;
        }

        .iiif-image .title {
            width: 49%;
            order: 2;
            display: inline;
        }

        .iiif-image.order-1 {
            order: 1;
        }

        .iiif-image.order-2 {
            order: 2;
        }

        .iiif-image.order-3 {
            order: 3;
        }

        .iiif-image.order-4 {
            order: 4;
        }

        .iiif-image.order-5 {
            order: 5;
        }

        .iiif-image.order-6 {
            order: 5;
        }

        .iiif-image.order-7 {
            order: 7;
        }

    }
    article {
        padding-right:22.22%;
    }
}
*/
