$font-body-font: '' !default;

$body-color: #4d4d4d !default;
$body-background: #38312f !default;

@import "style";
@import "custom";
@import "icons";
@import "ol-iiif";

.fa-plus:before {
    display: inline-block;
    width: 1em;
    content: url($plus-light);
}

#menu-secondary {
    margin-top: .5em;
}

@media (min-width: 37.5em) {
    .menu-secondary-items:before {
            content: '';
    }

}

@media (max-width: 37.5em) {
    .featured-image.lazy {
        display: none;
    }

.post.excerpt {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    .excerpt-container {
        box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, .6);
        border-radius: 4px;
        /* padding: 2% 5.55%; */
        padding: unset;
        margin: 3.5% 3.5%;
        background-color: rgba(255, 255, 255, .6);
    }
}

}

@media (min-width: 50em) {
    .menu-unset>ul>li:after, .menu-primary-items>li:after {
        content: '|';
    }
}

@media (min-width: 56.25em) {

    .excerpt.odd .featured-image {
        width: 30%;
        right: -1px;
        left: unset;
    }

    .excerpt.even .featured-image {
        width: 30%;
        right: unset;
        left: -1px;
    }

    .excerpt.preview .excerpt-container {
        width: 70% !important;
    }
}


.site-footer {
    margin-top: unset;

    .design-credit {
        margin-top: unset;
    }
}

.more-link-wrapper {
    padding-top: .4em;
}

.excerpt-content {
    margin-top: .6em;
}

.entry-container {
    padding-right: 0;

    .iiif {
        display: flex;

        .viewer {
            width: 100%;
            height: 65vh;
            order: 3;
            display: block;

        }

        .iiif-image {
            width: 100%;
        }

        .iiif-image .front {
            width: 49%;

            order: 1;
            display: inline;
        }

        .iiif-image .title {
            width: 49%;
            order: 2;
            display: inline;
        }

        .iiif-image.order-1 {
            order: 1;
        }

        .iiif-image.order-2 {
            order: 2;
        }

        .iiif-image.order-3 {
            order: 3;
        }

        .iiif-image.order-4 {
            order: 4;
        }

        .iiif-image.order-5 {
            order: 5;
        }

        .iiif-image.order-6 {
            order: 5;
        }

        .iiif-image.order-7 {
            order: 7;
        }

    }
    article {
        padding-right:22.22%;
    }
}
