{{- $class := "" -}}

{{- $rotate := "" }}
{{ range (seq 0 1) }}
    {{- $rotate = printf "%s%d" $rotate (index (shuffle (seq 0 99)) 0) }}
{{ end }}
{{- $rotate = printf "%s%d.%s" (index (shuffle (slice "-" "")) 0) (index (shuffle (seq 0 1)) 0) $rotate -}}
{{- $style := printf "transform: rotate(%sdeg);" $rotate -}}

<main class="content {{ $class }}">
  <article class="post" style="{{ $style | safeCSS }}">
      {{- if not .Params.metaPage -}}
          <div class="meta">
              <div class="date">
                  <span class="date">{{ partial "date.html" . }}</span>
              </div>
          </div>
      {{- end -}}
      <div class="post-header">
          <h1 class='post-title'>{{ .Title }}</h1>
      </div>

      {{- if not .Params.metaPage -}}
          <div class="meta">
              <div class="date">
                  <span class="tag-container">{{ partial "meta/tags.html" . }}</span>
              </div>
          </div>
      {{- end -}}

      <div class="post-content">
          {{- .Content -}}
      </div>

      {{- if .Params.type -}}
        <div class="{{ .Params.itemType }}-description">
          {{- if eq .Params.type "book" -}}
              <h1>{{ i18n "aboutTheNeu" }} {{ i18n "book" }}</h1>
          {{- else if eq .Params.itemType "font" -}}
              <h1>{{ i18n "aboutTheFem" }} {{ i18n "font" }}</h1>
          {{- end -}}

          {{- .Params.itemDescription | markdownify -}}
        </div>
      {{- end -}}

      <div class="iiif post-images">
          {{- $context := path.Dir .File.Path -}}
          {{- $pageURL := .Permalink -}}
          {{- range .Params.resources -}}
              {{- if .params.iiif -}}
                {{ partial "iiif-image.html" (dict "context" . "contextPath" $context "pageURL" .Permalink) }}
              {{- end -}}
          {{- end -}}
      </div>

  </article>
</main>
