{{- $class := "" -}}
{{- if eq .Kind "section" -}}
    {{- $class = "section" -}}
{{- end -}}
{{- $page := .Page -}}
{{- $rotate := "" }}
{{- range (seq 0 1) -}}
    {{- $rotate = printf "%s%d" $rotate (index (shuffle (seq 0 99)) 0) }}
{{- end -}}
{{- $rotate = printf "%s%d.%s" (index (shuffle (slice "-" "")) 0) (index (shuffle (seq 0 1)) 0) $rotate -}}
{{- $style := printf "transform: rotate(%sdeg);" $rotate -}}
{{- $context := path.Dir .File.Path -}}
{{- $pageURL := .Permalink -}}

<main class="content {{ $class }}">
  <article class="post" style="{{ $style | safeCSS }}">
      {{- if not .Params.metaPage -}}
          <div class="meta">
              <div class="date">
                  <span class="date">{{ partial "date.html" . }}</span>
              </div>
          </div>
      {{- end -}}
      <div class="post-header">
          {{- if .Params.metaPage -}}
            <h1 class='post-title'>{{ .Title }}</h1>
          {{ else if eq .Kind "section" }}
            <h1 class='post-title'>{{ .CurrentSection.Title }}</h1>
          {{- else -}}
            {{- $title := "" -}}
            {{- if eq .CurrentSection.Dir "" -}}
                {{- $title = .Title -}}
            {{- else -}}
                {{- $title = printf "%s: %s" .CurrentSection.Title .Title -}}
            {{- end -}}
            <h1 class='post-title'>{{ $title }}</h1>
          {{- end -}}
      </div>

      <div class="post-content">
          {{- .Content -}}
            <div class="iiif post-images">
                {{- $context := path.Dir .File.Path -}}
                {{- $pageURL := .Permalink -}}
                {{- if not (hasPrefix .Params.iiifContext "http://iiif.io/api/presentation/") -}}
                    {{- range .Params.resources -}}
                        {{- if .params.iiif -}}
                          {{- if ne $.CurrentSection.Dir "" -}}
                              {{- partial "iiif-image.html" (dict "context" . "contextPath" $context "pageURL" .Permalink "pageContext" $page) -}}
                          {{- else if eq $.Params.type "book" -}}
                              {{- if (not (or (or (eq .name "front") (eq .name "title")) (eq .name "cover"))) -}}
                                  {{ partial "iiif-image.html" (dict "context" . "contextPath" $context "pageURL" .Permalink "pageContext" $page) }}
                              {{- end -}}
                          {{- else if eq $.Params.type "single" -}}
                              {{ partial "iiif-image.html" (dict "context" . "contextPath" $context "pageURL" .Permalink "pageContext" $page) }}
                          {{- else -}}
                              {{ errorf "Unable to render content for post %s - maybe no resources given." $pageURL }}
                          {{- end -}}
                        {{- end -}}
                    {{- end -}}
                {{- else -}}
                   {{- partial "mirador.html" . -}}
                {{- end -}}
            </div>

      </div>

      {{- if .Params.type -}}
        <div class="{{ .Params.type }}-description">
          {{- if eq .Params.type "book" -}}
              <h1>{{ i18n "aboutTheNeu" }} {{ i18n "book" }}</h1>
          {{- else if eq .Params.itemType "font" -}}
              <h1>{{ i18n "aboutTheFem" }} {{ i18n "font" }}</h1>
          {{- end -}}
          {{- .Params.description | markdownify -}}
        </div>
        {{- if and (eq .Params.type "book") (ne .Kind "section") -}}
          {{- if not (hasPrefix .Params.iiifContext "http://iiif.io/api/presentation/") -}}
              <div class="book-description-images iiif">
                {{- range .Params.resources -}}
                  {{- if or (or (eq .name "front") (eq .name "title")) (eq .name "cover") -}}
                    {{ partial "iiif-image.html" (dict "context" . "contextPath" $context "pageURL" .Permalink "heading" (i18n .name) "pageContext" $page) }}
                  {{- end -}}
                {{- end -}}
              </div>
          {{- end -}}
        {{- end -}}
      {{- end -}}

      <div class="separator"></div>
      <div class="post-footer">
          <div class="post-relations">
              {{- if eq .Kind "section" -}}
                    <div class="section-contents-list">
                        {{- i18n "sectionContentsList" -}}:
                    </div>
                    <div class="section-posts">
                        <ul>
                            {{- range .CurrentSection.Pages.Reverse -}}
                                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                            {{- end -}}
                        <ul>
                    </div>
              {{- else if eq .CurrentSection.Dir "" -}}
                <div class="section-parent">
                    {{- i18n "singleFind" -}}
                </div>
              {{- else -}}
                    {{- if not .Params.metaPage -}}
                        <div class="section-parent">
                            {{- i18n "sectionParent" -}}:
                        </div>
                        <ul>
                            <li><a href="{{ .CurrentSection.RelPermalink }}">{{ .CurrentSection.Title }}</a></li>
                        </ul>
                    {{- end -}}
              {{- end -}}
          </div>
          <div class="spacer">
          </div>
          {{- if not .Params.metaPage -}}
              <div class="tag-container">
                <div class="tags-heading">Tags</div>
                  {{- partial "meta/tags.html" . -}}
              </div>
          {{- end -}}
      </div>
  </article>
</main>
