name: Publish on GitHub pages

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron:  '0 7 * * 4'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HUGO_VERSION: 0.154.5
  DEPENDENCY_MANAGER: npm
  PYTHON_VERSION: '3.12'

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:

      - name: Free some disk space
        run: |
          sudo rm -rf /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL /usr/local/graalvm/ /usr/local/share/powershell /usr/local/lib/android /usr/local/lib/node_modules /usr/local/.ghcup/ /usr/share/dotnet/


      - uses: actions/checkout@v6
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)

      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
          logout: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install required dependencies
        run: |
          ./scripts/github-setup.sh

      - name: Setup deploy env
        env:
          DEPLOY_SSH_IDENTITY: ${{ secrets.DEPLOY_SSH_IDENTITY }}
        run: |
          mkdir -p ~/.ssh && echo "$DEPLOY_SSH_IDENTITY" >>  ~/.ssh/known_hosts

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.nvmrc'

      - uses: pnpm/action-setup@v4
        with:
          version: 9

#      - name: Create IIIF derivates
#        run: docker run -e URL_PREFIX="https://schriftmuster.projektemacher.org/" -v ${PWD}:${PWD} ghcr.io/cmahnke/iiif-action:latest sh -c "cd ${PWD} && ./scripts/iiif.sh"

      - name: Create IIIF derivates
# UID is als available via $(id -u)
        run: |
          echo "Running as ${UID}"
          docker run -e CHOWN_UID=${UID} -e URL_PREFIX="https://static.projektemacher.org/schriftmuster/" -v ${PWD}:${PWD} ghcr.io/cmahnke/iiif-action:latest-jxl-uploader sh -c "cd ${PWD} && ./scripts/iiif.sh"

      - name: IIIF directory upload and cleanup
        env:
          DEPLOY_SERVER: ${{ secrets.DEPLOY_SERVER }}
          DEPLOY_USER: ${{ secrets.DEPLOY_USER }}
          SSHPASS: ${{ secrets.DEPLOY_PASS }}
          DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}
        run: |
          cd content
          find post -name info.json -exec dirname {} \; > files.lst
          cp ../static/redirect/index.html .
          echo "index.html" >> files.lst
          cat files.lst | xargs chmod 775
          sshpass -e rsync -P -rlptoD --size-only --delete --relative $(cat files.lst) $DEPLOY_USER@$DEPLOY_SERVER:$DEPLOY_PATH/schriftmuster/
          rm -f files.lst index.html
          cd ..
          find content/post/ -name info.json -exec dirname {} \; | xargs -I {} find {} -mindepth 1 -type d -not -path '*/full*' | xargs rm -fr
          #find content/post/ -name info.json -exec dirname {} \; | xargs rm -r

      - name: Generate Files
        env:
          SKIP_IIIF: yes
        run: |
          ./scripts/setup.sh

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3.0.0
        with:
          hugo-version: ${{ env.HUGO_VERSION }}
          extended: true

      - name: Generate stats
        run: |
          ./themes/projektemacher-base/scripts/stat.sh

      - name: Build Hugo site
        run: hugo --printI18nWarnings

      - name: Validate JSON
        env:
          OSTYPE: linux
        run: |
          $DEPENDENCY_MANAGER run validate

      - name: Puppeteer
        run: |
          ./themes/projektemacher-base/scripts/github/check-js-errors.sh

      - name: Archive links
        run: python ./themes/projektemacher-base/scripts/archive.py -d docs/ -e schriftmuster.projektemacher.org,projektemacher.org

      - name: Cleanup Build
        run: |
          echo "Removing files not needed to be deployed on GitHub Pages"
          #find docs -type f -size +10M -name '*.jpg' -print -exec rm {} \;
          find docs -type f -name 'ogPreview-tmp*.jpg' -print -exec rm {} \;
          find docs -type f -name '*.jxl' -print -exec rm {} \;
          find docs -type f -name 'vips-properties.xml' -print -exec rm {} \;
          find docs -type f -path '*/full/full/0/default.jpg' -print -exec rm {} \;

      - name: Deploy site
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          force_orphan: true
